alias rezsh="source $HOME/.zshrc"

alias rmrf "rm -rf"
alias gitcm "git commit -m"
alias gitp "git push"
alias gita "git add -a"
alias gitall "git add ."
alias lg='lazygit'
alias updateciedit="cd $HOME && cd ci_edit && git pull && sudo ./install.sh && cd ."
